/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/Header/header.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.header-container{
    position: relative;
    top: 0;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-top: 7rem;
    color: #fff;
    /* z-index: 2;    */
    /* border: red 4px solid; */

    margin: 0 8rem;
}

.header-title{
    position: relative;
    left: -2.8rem;
}

.my-logo{
    /* Add styles for your logo if needed */
}

@media screen and (max-width: 1200px){
    .header-title{
        margin-top: 1rem;
        left: 0;
    }
}

@media screen and (max-width: 600px){
    .header-title{
        margin-top: 0.5rem;
        left: 0;
        font-size: 2.5rem;
    }
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/Project1/project1.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.project-container{
    /* border: green 2px solid; */

    display: flex;
    height: 10rem;
    margin:0 8rem;
}

.project-header-container{
}

.top-head{
    width: 85vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    
}

.bot-head{

    border-bottom: 0.25rem solid var(--color-primary);

    margin-bottom: 0.5rem;
}

.top-head-pad{
    padding-bottom: 0.6rem;
}

.name-head{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.head-date{
    margin-left: 4rem;
    padding-bottom: 0.6rem;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/LocalHarvest/LH.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.LH-container{
    display: flex;
    flex-direction: column;
    margin: 2rem 8rem 0 8rem;
}

.overview-container{
    display: flex; 
    justify-content: space-between;
}

.left-overview{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 2rem;
}

.logos{
    display: flex;
    gap: 3rem;
}


.role-overview{
    margin-top: 1rem;
}

.right-overview{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
}

.figma-logo{
    margin-top: 1rem;
}

.figma-container{
    display: flex;
    justify-content: flex-end;
}
.figma{
    width: 100%;
    height: 55rem;
}

.tertiary-container{
    width: 100%;

    display: flex;
    justify-content: space-between;
    margin-top: 8rem;

    gap: 2rem;
}

.left-tertiary{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.left-tertiary .SubHead {
    margin-bottom: 2rem;
}

.pop-gap{
    margin-top: 0.5rem;
}

.right-tertiary{
    display: flex;
    flex-direction: column;

    width: 65%;
    gap: 2rem;
    /* padding-left: 11rem; */

}

.carousel {
    display: flex;
    position: relative;
    width: 400px; /* Make the carousel take up 100% of the container's width */
    height: auto; /* Adjust height based on the images */
    /* overflow: hidden;  */
}

.carousel img {
    position: absolute;
    width: 100%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
    left: 0;
    transition: left 0.5s ease-in-out, z-index 0.3s ease-in-out, filter 0.3s ease-in-out;
    z-index: 0; /* Default z-index */
    filter: brightness(50%); /* Default filter to darken */
}

.carousel img:hover, .carousel img:active {
    z-index: 1;
    filter: brightness(100%); /* Fully bright when hovered or clicked */
}

.carousel img[src="/image/LH-image/LH-Acc.png"] {
    filter: brightness(100%); /* Automatically brightened */
    z-index: 1; /* Bring to the front */
}

.carousel img:nth-child(6) {
    left: 0;
}

.carousel img:nth-child(5) {
    left: 20%; /* Adjust this value to control the overlap */
}

.carousel img:nth-child(4) {
    left: 45%; /* Adjust this value to control the overlap */
}

.carousel img:nth-child(3) {
    left: 70%; /* Adjust this value to control the overlap */
}

.carousel img:nth-child(2) {
    left: 95%; /* Adjust this value to control the overlap */
}

.carousel img:nth-child(1) {
    left: 120%; /* Adjust this value to control the overlap */
    margin-right: 1rem;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .carousel img {
        left: 0;
    }

    .carousel img:nth-child(2) {
        left: 5%;
    }

    .carousel img:nth-child(3) {
        left: 10%;
    }

    .carousel img:nth-child(4) {
        left: 15%;
    }

    .carousel img:nth-child(5) {
        left: 20%;
    }

    .carousel img:nth-child(6) {
        left: 25%;
    }
}

/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/Accordion/accordion.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.accordion-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    /* padding: 20px; */
    /* background: #f9f9f9; */
    border-radius: 8px;
}

.accordion-section {
    margin-bottom: 10px;
    border: 1px solid var(--color-D-Copy);
    border-radius: 4px;
    overflow: hidden;
}

.accordion-header {
    width: 100%;
    padding: 1rem;
    text-align: left;
    border: none;
    cursor: pointer;
}

.accordion-button{
    display: flex;
    align-items: center;
    width: 100%;
}

.x-icon{
    position: relative;
    top: 0.5rem;
    font-size: 3rem;
    padding-right: 2rem;
    rotate: 45deg;
}




.accordion-header:hover {
    /* background: #f3f3f3; */
}

.accordion-content {
    line-height: 1.5;
    color: #555;
}

.main-accordion{
    padding: 0.5rem 1rem;
}

.accordion-content ul {
    list-style: none;
    padding-left: 1rem; /* Adjust as needed */
    text-indent: -1rem; /* Match the padding-left value */
}
  
.accordion-content li {
    margin-bottom: 0.3em; /* Optional: Add some space between list items */
}
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/Timber/timber.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.Timber-main-container{
    display: flex;
    justify-content: space-between;

    margin: 4rem 8rem;

}

.timber-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    margin: 2rem 8rem;
}

.timber-frame{
    width: 100%;
    height: 100%;

    margin-top: 2rem;
}
