/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/Header/header.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.header-container{
    position: relative;
    top: 0;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-top: 7rem;
    color: #fff;
    /* z-index: 2;    */
    /* border: red 4px solid; */

    margin: 0 8rem;
}

.header-title{
    position: relative;
    left: -2.8rem;
}

.my-logo{
    /* Add styles for your logo if needed */
}

@media screen and (max-width: 1200px){
    .header-title{
        margin-top: 1rem;
        left: 0;
    }
}

@media screen and (max-width: 600px){
    .header-title{
        margin-top: 0.5rem;
        left: 0;
        font-size: 2.5rem;
    }
}
/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/LocalHarvest/LH.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.LH-container{
    display: flex;
    margin: 2rem 8rem 0 8rem;
}

.overview-container{
    display: flex; 
    justify-content: space-between;
}

.left-overview{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 2rem;
    gap: 1rem;
}

.right-overview{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/Project1/project1.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.project-container{
    /* border: green 2px solid; */

    display: flex;
    height: 10rem;
    margin:0 8rem;
}

.project-header-container{
    border-bottom: 0.25rem solid var(--color-primary);
}

.top-head{
    width: 85vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    
}

.top-head-pad{
    padding-bottom: 0.6rem;
}

.name-head{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.head-date{
    margin-left: 4rem;
    padding-bottom: 0.6rem;
}
