/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/Header/header.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.header-container{
    position: relative;
    top: 0;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-top: 7rem;
    color: #fff;
    /* z-index: 2;    */
    /* border: red 4px solid; */

    margin: 0 8rem;
}

.header-title{
    position: relative;
    left: -2.8rem;
}

.my-logo{
    /* Add styles for your logo if needed */
}

@media (width>2560px) {
    .header-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 0 auto;
        width: 60%;
    }
    
}

@media(max-width: 1200px){
    .header-container{
        margin: 0;
        padding-bottom: 0;
    }

    .header-title{
        margin-top: 1rem;
        left: 0;
    }
}

@media(max-width: 600px){
    .header-title{
        margin-top: 0.5rem;
        left: 0;
        font-size: 2.5rem;
    }
}
@media(max-width: 450px){
    .header-container{
        margin: 0;
        padding: 7rem 1rem 0rem;
    }        

    .header-title{
        margin: 0;
    }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/Menu/menu.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.menu-container{
    z-index: 1000;
    position: fixed;
}

.menu-bar{
    margin: 2rem 8rem;
}

.menu-bar, .menu-overlay{
    /* border: red 2px solid; */
    position: fixed;
    top: 0;
    left: 0;
    width: 85vw;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    z-index: 100;

}

.menu-bar a,
.menu-open p{
    font-size: 2rem;
    gap: 1rem;
    color: var(--color-D-Header);
}

.menu-logo{
    height: 3.5rem;
    width: auto;
}

.menu-open{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    color: var(--color-D-Header);

}

.menu-open svg {
    color: var(--color-D-Header);
}

.menu-close p {
    color: #000;
    cursor: pointer;
    font-size: 2rem;
}

.menu-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 105vh;
    padding: 2rem;
    background-color: var(--color-primary);
    z-index: 999;
    display: flex;
    flex-direction: column;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);    
}

.menu-overlay-bar{
    display: flex;
    flex:1.5;
    justify-content: flex-end;
}

.menu-close{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap:1rem;
    margin: 2rem 1rem;
}

.menu-close-icon{
    flex: 2;
    display: flex;
    align-items: flex-end;
    cursor: pointer;

}

.menu-copy{
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    -webkit-text-stroke: 0.01rem #000;
    padding: 2rem;
}

.menu-preview{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.menu-close-icon p{
    font-size: 50px;
    -webkit-text-stroke: 0.05rem #000;
    line-height: 70%;
}

.menu-link{
    font-family: 'Chillax', sans-serif;
    margin-top: 0.5rem;
    
}

.menu-link-item{
    text-transform: uppercase;
    width: max-content;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.menu-link-item-holder{
    position: relative;
    padding: 0.2rem 0;
}

.menu-link-item-holder a {
    color: #000;
    font-size: 80px;
    font-weight: 400;
    letter-spacing: -0.02rem;
    line-height: 85%;
}

.menu-link {
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.menu-link.active::after {
    width: 100%;
}

.menu-link-item-holder .menu-link.active {
    margin-left: 1rem;
    font-weight: 500;
    transition: transform 0.3s ease;
}

.underline-animation {
    position: relative;
    text-decoration: none;
    /* display: inline-block; */
    width: fit-content;
}
  
.underline-animation::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0%;
    height: 0.3rem;
    background-color: currentColor;
    transition: width 0.3s cubic-bezier(0,.92,1,.8);
    transform-origin: left center;
}
  
.underline-animation:hover::after {
    width: 100%;
}
  
.underline-animation.light::after {
    background-color: #ffffff;
}
  
.underline-animation.dark::after {
    background-color: #000000;
}
  
.underline-animation.thin::after {
    height: 2px;
    bottom: -0.1rem;
}
  
.underline-animation.thick::after {
    height: 3px;
}
  

.menu-info{
    display: flex;
    margin-top: 2rem;
}

.menu-info-col {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.2rem;
}

.social-link {
    display: flex;
    align-items: center;
}

.menu-project-head{
    color: var(--color-L-header);
}

@media(max-width: 1200px){
    .menu-bar{
        width: 95vw;
        margin: 2rem;
        padding: 0;
        position: fixed;
        top: 0;
    }

    .menu-overlay{
        padding: 1rem;
        flex-direction: column;
    }

    .menu-overlay-bar{
        flex: 0;
    }

    .menu-close-icon p{
       display: none;
    }

    .menu-preview{
        display: none;
    }

    .menu-copy{
        padding-top: 8rem;
    }

    .menu-link-item-holder a {
        font-size: 60px;
    }
}

@media(max-width: 750px){
    .menu-overlay{
        padding: 1rem;
        flex-direction: column;
    }

    .menu-copy{
        padding: 1rem 1rem;
    }

    .menu-link-item-holder a {
        font-size: 50px;
    }
}

@media(max-width: 450px){
    .menu-bar{
        margin: 1rem;
        width: 90vw;
    }

    .menu-overlay{
        padding: 0.5rem;
        flex-direction: column;
    }

    .menu-overlay-bar{
        flex: 0.75;
    }

    .menu-copy{
        padding: 1rem 1rem;
    }

    .menu-logo{
        height: 2.5rem;
        width: auto;
    }

    .extra{
        display: none;
    }

    .menu-link-item-holder a {
        font-size: 40px;
    }

    .contact-links {
        font-size: 1rem;
        display: flex;
        flex-direction: row;
    }

    .menu-close p {
        font-size: 1.5rem;
    }

    .underline-animation::after {
        height: 0.18rem;
    }
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/Project1/project1.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.project-container{
    /* border: green 2px solid; */

    display: flex;
    flex-direction: column;
    height: 10rem;
    margin:0 8rem;
}

.top-head{
    width: 85vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    
}

.bot-head{
    width: 85vw;
    border-bottom: 0.25rem solid var(--color-primary);

    margin-bottom: 0.5rem;
}

.top-head-pad{
    margin-bottom: 0;
    padding-bottom: 0;
}

.name-head{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.head-date{
    margin: 4rem 0 0 2rem;
    padding-bottom: 0.6rem;
}

@media (width>2560px){
    .project-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 60%;
    }
    .top-head{
        width: 100%;
    }
    .bot-head{
        width: 100%;
    }
}


@media(max-width: 1200px){
    .project-container{
        width: 95vw;
        height: auto;
        margin: 0 2rem;
    }

    .top-head{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .place-head{    
        margin: 0;
    }
}

@media(max-width: 450px){
    .project-container{
        margin: 1rem;
        flex-direction: column;
    }

    .head-date{
        padding-bottom: 0.4rem;
        font-size: 0.75rem;
        margin: 0 0 0 2rem;

    }

    .top-head{
        flex-direction: column;
        align-items: flex-start;
        width: 100vw;
    }

    .name-head{
        display: flex;
        flex-direction: column;
    }

    .bot-head{
        /* border: 1px solid red; */
    }

    .place-head{    
        margin: 0;
    }
}
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/Poster/poster.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.poster-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 2rem 8rem 0 8rem;

}

.tertiary-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tertiary-poster{
    width: auto;
    height: auto;
}

@media(max-width: 1200px) {
    .poster-container{
        width: 100vw;
        margin: 0;
    }
  }


@media (max-width: 450px) {

}
/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/Overview/overview.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.overview-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 4rem 8rem 0 8rem;
    
    width: 85vw;
}

.left-overview{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-right: 2rem;
}

.logos{
    display: flex;
    gap: 1rem;
}

.logo{
    margin-top: 1rem;
}


.role-overview{
    margin-top: 1rem;
}

.right-overview{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 1rem;
    width: 45%;
}

.right-image{
    height: 100%;
    max-height: 60rem;
    width: fit-content;
}

.figma-container{
    display: flex;
    justify-content: flex-end;
}
.figma{
    width: 100%;
    height: 44rem;
}

.links-container{
    display: flex;
    justify-content: center;
    width: 40%;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 1rem;
    background-color: var(--color-L-BG);
}

@media (width>2560px){
    .overview-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 2rem auto;
        width: 60%;
    }
}

@media (max-width: 1800px){
    .overview-container{

    }

    .right-image{
        height: auto;
        width: auto;
        
    }

    .left-overview{
        color: rebeccapurple
    }
}

@media (max-width: 1200px) {
    .overview-container{
        width: 95vw;
        margin: 2rem;
    }

    .right-overview{
        justify-content: flex-start;
    }


    .right-image{
    }

}

@media (max-width: 800px) {
    .overview-container{
        margin: 0;
        flex-direction: column;
        width: 100vw;
    }
    .left-overview{
        width: 90vw;
        margin: 2rem;
    }

    .right-overview{
        margin: 0 2rem;
        width: auto;
    }

    .right-image{
        /* height: 30rem; */
    }
}

@media (max-width: 450px) {
    .overview-container{
        margin: 0;
        flex-direction: column;
        width: 100vw;
    }

    .left-overview{
        width: 90vw;
        height: auto;
        margin-top: 0;
    }

    .logos{
        gap: 0.5rem;
    }

    .logo{
        width: 5rem;
        margin: 0;
    }

    .links-container{
        width: 10rem;
        padding: 0.5rem 0.4rem 0.4rem;
        margin: 0.5rem;
    }

}
/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/Card/card.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.card-container{
    /* border: 1px solid red; */
    background-color: var(--color-L-BG);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;

    margin: 1rem;
    width: 23rem;
    height: auto;
}

.card-image-container{
    /* width: 19rem;
    height: 19rem; */

    margin: 2rem 2rem 1rem;
}

.card-image{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;

}

.card-extra{
    display: flex;
    align-items: center;
}

.card-title{
    margin: 0 2rem;
}

.card-subTitle{
    margin: 0.25rem 2rem;
}

@media (max-width>1200) {

}
