.arrow-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowBack{
    position: relative;
    top:0.4rem;
    left: 2rem;
    font-size: 3rem;
    color: var(--color-D-Copy);
}