/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/General/general.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.general-container{
    /* background-color: var(--color-primary); */
    margin: 10vw;
}
.general-title{
    font-size: 2vw;
    color: var(--color-white)
}

.general-sub{
    font-size: 1.5vw;
    color: var(--color-white)
}

.primary-item{
    width: 25vw;
    object-fit: cover;
}

.primary-image{
    width: 25vw;
    height: 30rem;
    background-color: var(--color-black);
}
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/Header/header.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.header-container{
    position: relative;
    top: 0;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-top: 7rem;
    color: #fff;
    /* z-index: 2;    */
    /* border: red 4px solid; */

    margin: 0 8rem;
}

.header-title{
    position: relative;
    left: -2.8rem;
}

.my-logo{
    /* Add styles for your logo if needed */
}

@media (width>2560px) {
    .header-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 0 auto;
        width: 60%;
    }
    
}

@media(max-width: 1200px){
    .header-container{
        margin: 0;
        padding-bottom: 0;
    }

    .header-title{
        margin-top: 1rem;
        left: 0;
    }
}

@media(max-width: 600px){
    .header-title{
        margin-top: 0.5rem;
        left: 0;
        font-size: 2.5rem;
    }
}
@media(max-width: 450px){
    .header-container{
        margin: 0;
        padding: 7rem 1rem 0rem;
    }        

    .header-title{
        margin: 0;
    }
}
