.project-container{
    /* border: green 2px solid; */

    display: flex;
    height: 10rem;
    margin:0 8rem;
}

.project-header-container{
}

.top-head{
    width: 85vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    
}

.bot-head{

    border-bottom: 0.25rem solid var(--color-primary);

    margin-bottom: 0.5rem;
}

.top-head-pad{
    padding-bottom: 0.6rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.name-head{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.head-date{
    margin: 4rem 0 0 2rem;
    padding-bottom: 0.6rem;
}

