.project-container{
    /* border: green 2px solid; */

    display: flex;
    flex-direction: column;
    height: 10rem;
    margin:0 8rem;
}

.top-head{
    width: 85vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    
}

.bot-head{
    border-bottom: 0.25rem solid var(--color-primary);

    margin-bottom: 0.5rem;
}

.top-head-pad{
    margin-bottom: 0;
    padding-bottom: 0;
}

.name-head{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.head-date{
    margin: 4rem 0 0 2rem;
    padding-bottom: 0.6rem;
}

@media (width>2560px){
    .project-container{
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 60%;
    }
    .top-head{
        width: 100%;
    }
    .bot-head{
        width: 100%;
    }
}


@media(max-width: 1200px){
    .project-container{
        width: 95vw;
        height: auto;
        margin: 0 2rem;
    }

    .top-head{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .place-head{    
        margin: 0;
    }
}

@media(max-width: 450px){
    .project-container{
        margin: 1rem;
        flex-direction: column;
    }

    .head-date{
        padding-bottom: 0.4rem;
        font-size: 0.75rem;
        margin: 0 0 0 2rem;

    }

    .top-head{
        flex-direction: column;
        align-items: flex-start;
        width: 100vw;
    }

    .bot-head{
        /* border: 1px solid red; */
    }

    .place-head{    
        margin: 0;
    }
}