.containerOfCards a {
    display: inline-block;
    width: 23rem; /* Set fixed width instead of auto */
}

/* Update card-container to be more strict */
.card-container {
    background-color: var(--color-L-BG);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 0 0 1rem;
    width: 23rem; 
    height: auto;
    object-fit: cover;
    overflow: hidden; 

}

.card-image-container{
    margin: 2rem 2rem 0rem;
}

.card-image{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;

}

.card-extra{
    display: flex;
    align-items: center;
}

.card-title{
    margin: 0.3rem 2rem 0;
}

.card-subTitle{
    margin: 0.25rem 2rem;
}

@media (max-width>1200) {

}