.containerOfCards {
    margin: 2rem 8rem;
}

.card-container a{
    width: 100%;
    height: 8rem;
    margin: 2rem 0;

    border: 2px solid var(--color-D-Copy);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.card-inner-container {
    object-fit: cover;
    /* overflow: hidden;  */

    padding: 1rem;
    display: flex;
    justify-content: space-between;

}

.card-image{
    height: 30rem;
    width: auto;
}

.glow {
    display: inline-block; 
    /* border-radius: 10px; */
    box-shadow: 0 0 2rem 1rem var(--color-L-BG-25); /* Adjust color and intensity */
  }
  

.card-extra{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    
}

.card-title{
}

.card-subTitle{
}

.relative {
    position: relative;
}
  
.absolute {
    position: absolute;
}
  
.pointer-events-none {
    pointer-events: none;
}
  
.z-10 {
    z-index: 10;
}

@media (max-width>1200) {

}