.general-container{
    /* background-color: var(--color-primary); */
    margin: 10vw;
}
.general-title{
    font-size: 2vw;
    color: var(--color-white)
}

.general-sub{
    font-size: 1.5vw;
    color: var(--color-white)
}

.primary-item{
    width: 25vw;
    object-fit: cover;
}

.primary-image{
    width: 25vw;
    height: 30rem;
    background-color: var(--color-black);
}