.main-header{

}

.scroll{
    color: var(--color-white);
}

.scrolled{
    position: relative;
    /* background-color: var(--color-L-BG); */
    width: 100vw;
}

@media (max-width:450px){
    .SuprHead{
        font-size: 2.5rem;
    }

    .home-extra-text{
        display: none;
    }
}