.intro-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
    margin-top: 5rem;
}

.intro-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-next{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll{
    color: var(--color-white);
}

.scrolled{
    position: relative;
    /* background-color: var(--color-L-BG); */
    width: 100vw;
}

@media (max-width:450px){
    .SuprHead{
        font-size: 2.5rem;
    }

    .intro-content{
        align-items: flex-start;
        margin: 1rem;
    }

}