.overview-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 4rem 8rem 0 8rem;
    
    width: 85vw;
}

.left-overview{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-right: 2rem;
}

.logos{
    display: flex;
    gap: 1rem;
}

.logo{
    margin-top: 1rem;
}


.role-overview{
    margin-top: 1rem;
}

.right-overview{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 1rem;
    width: 45%;
}

.right-image{
    height: 100%;
    max-height: 60rem;
    width: fit-content;
}

.figma-container{
    display: flex;
    justify-content: flex-end;
}
.figma{
    width: 100%;
    height: 44rem;
}

.links-container{
    display: flex;
    justify-content: center;
    width: 40%;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 1rem;
    background-color: var(--color-L-BG);
}

@media (width>2560px){
    .overview-container{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 2rem auto;
        width: 60%;
    }
}

@media (max-width: 1800px){

    .right-image{
        height: auto;
        width: auto;

    }
};

@media (max-width: 1200px) {
    .overview-container{
        width: 95vw;
        margin: 1rem 2rem;
    }

    .right-overview{
        justify-content: flex-start;
    }


    .right-image{
    }

}

@media (max-width: 800px) {
    .overview-container{
        margin: 0;
        flex-direction: column;
        width: 100vw;
    }
    .left-overview{
        width: 90vw;
        margin: 2rem;
    }

    .right-overview{
        margin: 0 2rem;
        width: auto;
    }

    .right-image{
        /* height: 30rem; */
    }
}

@media (max-width: 450px) {
    .overview-container{
        margin: 0;
        flex-direction: column;
        width: 100vw;
    }

    .left-overview{
        width: 90vw;
        height: auto;
        margin-top: 0;
    }

    .logos{
        gap: 0.5rem;
    }

    .logo{
        width: 5rem;
        margin: 0;
    }

    .links-container{
        width: 10rem;
        padding: 0.5rem 0.4rem 0.4rem;
        margin: 0.5rem;
    }

}