/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/Header/header.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.header-container{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    color: #fff;
}

.header-title{
    position: sticky;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1200px){
    .header-title{
        margin-top: 1rem;
        left: 0;
    }
}

@media screen and (max-width: 600px){
    .header-title{
        margin-top: 1rem;
        left: 0;
    }
}
