.LH-container{
    display: flex;
    flex-direction: column;
    margin: 2rem 8rem 0 8rem;
}

.tertiary-container{
    width: 85vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;

    gap: 2rem;
}

.left-tertiary{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.left-tertiary .SubHead {
    margin-bottom: 2rem;
}

.pop-gap{
    margin-top: 0.5rem;
}

.right-tertiary{
    display: flex;
    flex-direction: column;

    width: 65%;
    gap: 2rem;

    margin-top: 8rem;
}

@media (max-width:1200px){
    .LH-container{
        width: 100vw;
        margin: 0;
    }


    .tertiary-container{
        flex-direction: column;
        margin: 0 2rem;
        width: 95vw;
    }
}

@media (max-width: 450px) {

    .tertiary-container{
        flex-direction: column;
        margin: 1rem;
        width: 90vw;
    }

    .left-tertiary, .right-tertiary{
        width: 100%;
    }

    .right-tertiary{
        display: none;
    }

}

