.about-container{
    width: 85vw;
    margin: 1rem 8rem;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

.about-left{
    width: 45%;
}

.about-right{
    width: 45%;
}

.about-profile{
    width: auto;
    max-height: 30rem;
}

.tert-container{
    display: flex;
}

.about-skills-container{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;

    display: none;
}

@media (max-width: 850px){
    .about-container{
        margin: 2rem;
        flex-direction: column;
    }
    .about-right{
        width: 100%;
    }
}


@media (max-width: 450px){
    .about-container{
        margin: 1rem;
    }
}